/* BASIC STYLES HERE */

  .bigimg{
    background-repeat: no-repeat;
    background-size: cover;    
  }
  .middle {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }
  .weather {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 30%;
  }
  .header{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top:50%;
  }

  